<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<nav>
  <div class="site-title">
    <div class="in_row">
      <img src="/images/download.jpg" id="ninja" class="ninja" alt="ninja" />
      <a href="/"><h1 id="cp_ninja">CP NINJA</h1></a>
    </div>

    <p>A Platform for competitive programming enthusiasts</p>
  </div>
  <ul>
    <li class="curved_left_border"><a href="/">Problem Set</a></li>

    <li><a href="/questions/create">Search</a></li>
    <li class="curved_right_border"><a href="/feedbacks">Feedbacks</a></li>
  </ul>
</nav>
