<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<nav>
  <div class="site-title">
    <a href="/"><h1 id="cp_ninja">Cp NINJA</h1></a>
    <p>A Platform for programming ninjas</p>
  </div>
  <ul>
    <li class="curved_left_border"><a href="/">Problem Set</a></li>

    <li><a href="/blogs/create">Search</a></li>
    <li class="curved_right_border"><a href="/feedbacks">Feedbacks</a></li>
  </ul>
</nav>
