<nav>
  <div class="site-title">
    <a href="/"><h1 id="cp_ninja">CP NINJA</h1></a>
    <p>A Platform for competitve coding ninjas</p>
  </div>
  <ul>
    <li class="curved_left_border"><a href="/">Problem Set</a></li>

    <li><a href="/blogs/create">Search</a></li>
    <li class="curved_right_border"><a href="/feedbacks">Feedbacks</a></li>
  </ul>
  <!-- <script>
    var i = 0
    var txt = 'CP NINJA'
    var speed = 350

    function typeWriter() {
      if (i < txt.length) {
        document.getElementById('cp_ninja').innerHTML += txt.charAt(i)
        i++
        setTimeout(typeWriter, speed)
      }
    }
    typeWriter()
  </script> -->
</nav>
