<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="create_question_container">
      <div class="create-question">
        <form action="/questions" class="form_class" method="POST">
          <label class="text-white" for="query">Search a Question:</label>
          <input
            class="extend_width"
            type="text"
            id="query"
            name="query"
            required
          />
          <button id="query_button" onclick="loading()">Submit</button>
        </form>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
  <script>
    function loading() {
      var button = document.getElementById('query_button')
      setTimeout(() => {
        button.innerHTML = 'Loading'
      }, 0)
      setTimeout(() => {
        button.innerHTML = 'Loading.'
      }, 200)
      setTimeout(() => {
        button.innerHTML = 'Loading..'
      }, 1000)
      setTimeout(() => {
        button.innerHTML = 'Loading...'
      }, 2000)
    }
  </script>
</html>
