<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="error">
      <h1>ERROR PAGE : 404</h1>
      <p>Question not available</p>
      <p>Sorry for the inconvenience !!</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
